KerbalSimpit
{
	Documentation = https://bitbucket.org/pjhardy/kerbalsimpit/wiki/edit/PluginConfiguration
	Verbose = False
	RefreshRate = 125
	SerialPort
	{
		PortName = COM1
		BaudRate = 115200
	}
	CustomResourceMessages
	{
		resourceName1 = None
		resourceName2 = None
		resourceName3 = None
		resourceName4 = None
	}
	CustomResourceMessages
	{
		resourceName1 = None
		resourceName2 = None
		resourceName3 = None
		resourceName4 = None
	}
}
