KerbalSimpit
{
	Documentation = https://bitbucket.org/pjhardy/kerbalsimpit/wiki/edit/PluginConfiguration
	Verbose = False
    RefreshRate = 80
	SerialPort
	{
		PortName = /dev/ttyS0
		BaudRate = 115200
	}
}
