KerbalSimpit
{
	Documentation = https://kerbalsimpitrevamped-arduino.readthedocs.io
	Verbose = False
	RefreshRate = 125
	SerialPort
	{
		PortName = 
		BaudRate = 115200
	}
	CustomResourceMessages
	{
		resourceName1 = None
		resourceName2 = None
		resourceName3 = None
		resourceName4 = None
	}
	CustomResourceMessages
	{
		resourceName1 = None
		resourceName2 = None
		resourceName3 = None
		resourceName4 = None
	}
}
